@model CountersViewModel
@{
    ViewData["Title"] = "Counter deluxe plus pro";
}

<h1>Counter deluxe diamond VIP edition</h1>

<b>Number of times a NumberCounter instance has been reused:</b>
<br/>
Transient: @Model.Transient; (Per request, per dependency lifetime)
<br/>
Scoped: @Model.Scoped; (Request lifetime)
<br/>
Singleton: @Model.Singleton (Server lifetime);

<hr />

<form method="get" asp-controller="Home" asp-action="Counter">
    <input type="submit" value="Request increment">
</form>
<br />
<form method="get" asp-controller="Home" asp-action="Counter">
    <input type="hidden" value="true" name="UseTwoDependencies">
    <input type="submit" value="Request increment (Require two instances of each NumberCounter dependency)">
</form>
