@{
    ViewData["Title"] = "Home Page";
}
@model TestViewModel

@{}

<form method="get">
    <input type="search" name="searchString" placeholder="search" asp-for="searchString">
</form>

<hr />

<table>
    @foreach (var laptop in Model.LaptopList)
    {
        <tr>
            <td>@laptop.Name</td>
        </tr>
    }
</table>

<hr />

Authorized message from api: @Model.AuthorizedMessageFromApi
<br/>
<br />
Token: @Model.MyToken

<br />
<br />
Total product in stats view: @Model.ProductTotal